


<div class="card" *ngIf="activities.length > 0; else noActivities">
  <p-carousel
    [value]="activities"
    [numVisible]="4"
    [numScroll]="1"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
    class="custom-carousel"
  >
    <ng-template margin="0" let-activity pTemplate="item">
      <div class="activity-box border-1 surface-border border-round align-items-center">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              [src]="activity.image || 'default-image-url'"
              [alt]="activity.title"
              class="thumbnail-image border-round"
            />
          </div>
        </div>
        <!--  -->
        <div class="mt-0 font-semibold text-center">
          <p>{{ activity.title }}</p>
          <hr />
        </div>

        <!--  -->
        <div class="flex justify-content-between align-items-center">
          <div class="mb-3 font-small text-justify">
            {{ activity.shortDescription }}
          </div>
        </div>
        <!--  -->
      </div>
    </ng-template>
  </p-carousel>
</div>

<ng-template #noActivities>
  <p>No activities found.</p>
</ng-template>
