
<div class="card flex justify-content-center text-center">
  <h1>Welcome to Roam & Review</h1>
</div>

<div class="card flex justify-content-center text-center">
  <h2>Discover. Explore. Review.</h2>
</div>

<div class="card flex justify-content-center text-center">
  <p>When it comes to National Parks, the reviews are 'rock'-solid.</p>
</div>

<div class="button-group card flex justify-content-center">
  <button
    pButton
    pRipple

    [outlined]="true"
    type="button"
    [routerLink]="['/search']"
  >Search</button>

  <button
    pButton
    pRipple
    [outlined]="true"
    type="button"
    [routerLink]="['/login']"
  >Login</button>
</div>

