.card {
    padding: 1rem; 
    margin: 0; 
  }
  
  .flex {
    display: flex;
    justify-content: left;
    flex-wrap: wrap; 
  }
  
  .p-accordion .p-accordion-tab {
    margin: 0; 
    padding: 0; 
  }
  

  .header-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }
  
  .header-container h1 {
    margin: 0; 
  }
  
  .header-container p-button {
    margin-left: 1rem; 
  }
  
  .about-text {
    font-size: 1.25rem; 
    line-height: 1.6;   
    text-align: center;
}



.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; 
}

.left-column,
.right-column {
  flex: 1;
  min-width: 300px; 
}

.card {
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
  }

  .right-column {
    order: 2; 
  }

  .left-column {
    order: 1; 
  }
}
