.review-image {
    max-width: 100%;
    max-height: 500px; 
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  
  .custom-hr {
    width: 50%; 
    border: none; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px auto; 
    opacity: 0.5; 
  }
  

  .small-button {
    font-size: 12px; 
    padding: 5px 10px; 
  }
  