<div class="card flex justify-content-center">
  <h2>Sign up for an account</h2>
</div>

<div class="col-md-12">
  <div class="card card-container">
    <div *ngIf="!isSuccessful">
      <form
        name="form"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="profilePicture">Profile Picture</label>
            <input
              type="file"
              class="form-control-file"
              name="profilePicture"
              (change)="onFileChange($event)"
              required
            />
          </div>

          <img
            id="profile-img"
            [src]="profilePreview"
            class="profile-img-preview"
          />
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="username">Username</label>
            <input
              pInputText
              id="username"
              aria-describedby="username-help"
              class="custom-input"
              [(ngModel)]="form.username"
              name="username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
            />
            <div
              style="color: red"
              *ngIf="username.invalid && (username.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="username.errors?.['required']">
                Username is required
              </div>
              <div *ngIf="username.errors?.['minlength']">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors?.['maxlength']">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              aria-describedby="email-help"
              class="custom-input"
              [(ngModel)]="form.email"
              name="email"
              required
              email
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
            />
            <div
              style="color: red"
              *ngIf="email.invalid && (email.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="password">Password</label>
            <p-password
              [(ngModel)]="form.password"
              name="password"
              required
              minlength="6"
              class="custom-input"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
              [inputStyle]="{'width':'400px'}"

            ></p-password>
            <div
              style="color: red"
              *ngIf="password.invalid && (password.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="password.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="name">Name</label>
            <input
              pInputText
              id="name"
              aria-describedby="name-help"
              class="custom-input"
              [(ngModel)]="form.name"
              name="name"
              required
              #name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
            />
            <div
              style="color: red"
              *ngIf="name.invalid && (name.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="name.errors?.['required']">Name is required</div>
            </div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="country">Country</label>
            <input
              pInputText
              id="country"
              aria-describedby="country-help"
              class="custom-input"
              [(ngModel)]="form.country"
              name="country"
              required
              #country="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && country.invalid }"
            />
            <div
              style="color: red"
              *ngIf="country.invalid && (country.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="country.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>
        </div>

        <div class="card flex justify-content-center">
          <div class="flex flex-column gap-3">
            <label for="gender">Gender</label>
            <p-dropdown
              class="custom-input"
              [(ngModel)]="form.gender"
              name="gender"
              [options]="genderOptions"
              optionLabel="label"
              optionValue="value"
              placeholder="Select Gender"
              required
              #gender="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }"
            ></p-dropdown>
            <div
              style="color: red"
              *ngIf="gender.invalid && (gender.dirty || f.submitted)"
              class="invalid-feedback"
            >
              <div *ngIf="gender.errors?.['required']">Gender is required</div>
            </div>
          </div>
        </div>

        <div>
          <p></p>
        </div>

        <div class="card flex justify-content-center">
          <div
            style="color: red"
            *ngIf="f.submitted && isSignUpFailed"
            class="alert alert-warning"
          >
            Signup failed!<br />{{ errorMessage }}
          </div>
        </div>

        <div>
          <p></p>
        </div>

        <div class="card flex justify-content-center">
          <button
            pButton
            pRipple
          
            [outlined]="true"
            
            [disabled]="!f.form.valid"
          >Register</button>
        </div>
      </form>
    </div>

    <div *ngIf="isSuccessful" class="alert alert-success">
      <div class="card flex justify-content-center">
        <p>Successfully registered!</p>
      </div>
      <br />
      <div class="card flex justify-content-center">
        <button
          pButton
          pRipple
          [outlined]="true"
          class="btn btn-primary mt-2"
          routerLink="/login"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
